<!DOCTYPE html>
<html>
  <head>
    <title>TurboLayoutIssue</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for?(:bar) %>
      <%= yield(:bar) %>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
